/* Описание стилей модального окна. */
.modal {
    position: absolute;
    left: 50%;
    top: 100px;
    width: 500px;
    height: 400px;
}

.modal__content {
    height: 100%;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;
    color: #555;
    position: relative;
    left: -50%;
}